HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Project ###
/user-service/src/main/generated/
/user-common/src/main/generated/
/src/main/jib/

# 배포 대상 커밋 확인 스크립트
/check_commit.sh

### Mac OS ###
.DS_Store